/* Font Families Initialization! Add more here before you use */
/* Copy the entire paragraph and paste it below, then change the name and the url */
/* Finally, use the name in font-family in the rest of the style page */

@font-face {
  font-family: MinionPro;
  src:url(fonts/MinionPro-Medium.otf);
}

@font-face {
  font-family: Rubik;
  src:url(fonts/Rubik-Regular.ttf);
}

@font-face {
  font-family: Audiowide;
  src:url(fonts/Audiowide-Regular.ttf);
}

/* ------------------------------ */

/* ------!!!! ------- */
/* ---------- DO NOT REMOVE THE ; SEMI COLON PUNTO Y COMA  AT THE END OF EVERY LINE !!! ---- */
/* ------!!!! ------- */

/* Character sheet background and Font Color */
.sandbox.sheet .window-content {
  color: #ffffff; /* Change color code, include the hash tag! */
  /* Replace LINK_TO_IMAGE from the web to an image you like for a background or place it in img folder */
  /* Image should be sized on about 720p and not be too heavy */
  background: url(img/06.jpg) repeat;  /*Replace no-repeat with repeat for pattern images */
  overflow-y: auto; /* change between hidden and auto to show vertical scroll bar in sheets. Good for long sheets */
  /*background: rgba(116, 116, 116, 0.74);*/
}

.sandbox.sheet [class^="sheet-header"] {
  background: url(img/19.jpg);
}

/* Font control of general text in Foundry in general */
body {
  font-family: Rubik; /* Dont remove the colon at the1 end!!! */
  font-size: 14px; /* change only the number! */
}

/* Tabs in sheets! */
.sandbox.sheet .tabs .item {
  font-family: Rubik;
  font-size: 16px;
  font-weight: normal;
  color:#ffffff;
}

/* Font and color control for Panel Headers */
.sandbox.sheet .panelheader {
  font-family: Audiowide;
  font-size: 16px; /* change only the number! */
  font-weight: normal;
  background: url(img/18.jpg) center;
  /*background-color: #000002de; /* Background color for panel header */
  color:rgb(255, 255, 255);
}


/* Character sheet input text background color fields */
.sandbox.sheet [class^="flexblock-"] input {
  font-family: Rubik;
  font-size: 12px;
  color:#ffffffde;
  background-color: #333333;
  border: 1px solid rgb(23, 145, 245);
}

.sandbox.sheet .tab-button{
  font-family:  Audiowide;
  font-size: 14px;
  color:#ffffff;
  background: url(img/08.jpg);
}

.sandbox.sheet .tab-button:hover{text-shadow: 0 0 8px rgb(255, 2, 99);}
.sandbox.sheet .leftarrow:hover{filter: drop-shadow(0 0 11px rgb(255, 255, 255));}
.sandbox.sheet .rightarrow:hover{filter: drop-shadow(0 0 11px rgb(255, 255, 255));}

.sandbox.sheet input[type=text].input-disabled,.sandbox.sheet input[type=text][readonly=true]{
  background-color: #6d6d6d;
}

.sandbox.sheet .radio-element{
  color:rgb(255, 2, 99);
}

.sandbox.sheet .radio-element:hover {text-shadow: 0 0 8px rgb(255, 255, 255);}

.sandbox.sheet [class^="flexblock-"] textarea {
  font-family: Rubik;
  font-size: 12px;
  color:#ffffffde;
  background-color: #333333;
}

.sandbox.sheet [class^="flexblock-"] select {
  font-family: Rubik;
  color:rgb(75, 209, 250);
  background-color: #333333;
}

/* Character sheet input text in tables (items) */
/* You can delete this paragraph if you want it to be same as the input text above */
.sandbox.sheet [class^="flexblock-"] td input {
  font-family: Rubik;
  font-size: 12px;
  background-color: white;
}

/* How cItems in tables behave when you move your mouse over!!! */
.sandbox.sheet .linkable:hover {
    color: #029af1;
	font-family: Rubik; /* Not a good idea to change fonts when passing the mouse but... */
	font-size: 14px; /* Make it bigger or smaller when mouse over? */
    font-weight: bold; /* try bold - bolder - normal - lighter */
}

/* Labels fonts and style */
.sandbox.sheet [class*="label-"] {
  font-family: Rubik;
  font-size: 13px;
}

/* Character sheet table header colors
.sandbox.sheet tbody {
  background-color: #990000;
}*/

/* Character sheet empty table cell colors */
.sandbox.sheet thead {
  background-color: rgb(255, 255, 255);
  color: black;
  font-family: Rubik;
  text-shadow: none;
}

.sandbox.sheet th,
.sandbox.sheet th.input-min,
.sandbox.sheet th.input-med,
.sandbox.sheet th.input-free {
  font-family: Rubik;
  font-size: 14px;
}

/* Table Body background color 
.sandbox.sheet tbody.table {
  background-color: #8b4319;
}*/

/* Table cells fonts */
.sandbox.sheet td {
  font-family: Audiowide;
  font-size: 14px;
  border-bottom: 5px solid rgba(247, 247, 247, 0.171);
  background-color: rgb(0, 0, 0);
}

/* ---- NEW Sep-26 ----- */

/* Change shadow colors and Foundry general font color!! */
.app {
  box-shadow: 0 0 20px #04d9ff; /* Change the color code here for a nice shadow color! */
  color: #e2e2e2; /* Text color for window titles and menu all across Foundry */
}

/* Character and Item Name Titles Text style! */
.sandbox.sheet .charname input {
    font-family: Rubik;
    font-size: 30px;
    font-style: normal;
    color: white;
}

/* Customize the chat roll area! */
#chat-form textarea {
  background: url(img/16.jpg) no-repeat; /* Replace with some url with image or url in img folder */
  background-size: cover;
  font-family: Rubik; /* Text font in dice */
  font-size: 14px; /* Text size in dice dialog */
  color: rgb(255, 255, 255); /* Text color in dice dialog */
}

/* Customize the chat history area! */
#chat-log .message {
  background: url(img/072.jpg) no-repeat; /* Replace with some url with image or url in img folder */
  background-size: cover;
  color: #2b2483; /* Text color */
}
